<h1>Hello world!!!</h1>
<h2>Welcome to Angular 12</h2>

<nav>
    <ul>
        <li><a routerLink="/About" routerLinkActive="active" ariaCurrentWhenActive="page">Vào trang About</a>
        </li>
        <li><a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Vào trang home</a></li>
        <li><a routerLink="./" routerLinkActive="active" ariaCurrentWhenActive="page">Vào trang chính</a></li>
    </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>