<div class="test">
    <h3>Đây là component Home</h3>
    <p>Chào bạn {{name}}</p>
    <h1>Trái cây</h1>
    <!-- <div *ngFor="let trai of traicay; let i = index">
        <li>{{i+1}}. {{trai}}</li>
    </div> -->
</div>
<br>
<table class="table">
    <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Sales</th>
    </tr>
    <tr *ngFor="let trai of traicay2; let i = index">
        <td>{{i+1}}</td>
        <td>{{trai.ten}}</td>
        <td class="right"> <span [ngClass]="{'soam': trai.gia <0}">{{trai.gia}}</span></td>
        <td class="middle">
            <span *ngIf="trai.hagia">Đang hạ giá</span>
        </td>
    </tr>

</table>