<div class="test">
  <h3>Đây là component Home</h3>
  <br>
  Tỉnh thành:
  <br>
  <!-- 3. (change)="changecity($event): câu này khi có sự kiện thay đổi thì gọi Funtion changcity  -->
  <select id="chọn tỉnh thành" (change)="changecity($event)">
    <!-- Tạo biến dulieu (TH này là object) lấy từ object vietnamdata, lấy cột city -->
    <option *ngFor=" let dulieutinh of vietnamdata" value={{dulieutinh.city}}>
      {{dulieutinh.city}}
    </option>

  </select>
  <br>
  <br>
  Quận huyện:
  <br>
  <select id="chọn quận huyện">
    <option *ngFor=" let district of district" value={{district}}>
      {{district}}
  </select>
</div>